.form__button {
  margin: 0 0 15px 0;
  padding: 14px 0;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  background-color: #FFF;
  border-radius: 2px;
  text-align: center;
  color: #000;
  cursor: pointer;

}
.form__button:hover {
  opacity: 0.85;
}
