.popup__close-button {
  /* переделала с + на картинку */
  background: transparent url('../../../images/Close_Icon.svg') center no-repeat;
  position: absolute;
  cursor: pointer;
  outline-style: none;
  background-size: 100% 100%;
  border: 0;
  width: 40px;
  height: 40px;
  right: -35px;
  top: -45px;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    background-image: url('../../../images/Close_Icon_small.svg');
    height: 26px;
    transform: rotate(-90deg);
    right: -15px;
    top: -45px;
  }
}
