.form__signup {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  justify-self: center;
  text-decoration: none;
  cursor: pointer;
}
