.page__header {
    margin: 0  auto;
    max-width: 880px;
    padding: 45px 0 5px 0;
}


@media screen and (max-width: 767px) {
  .page__header {
    padding: 45px 50px 5px 50px;
  }
}

@media screen and (max-width: 320px){
  .page__header {
  padding: 28px 27px 5px 27px;
}
}
